

.experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid hsl(0, 0%, 38%);
    border-radius: 6px;
    margin: 4vw;
    position:relative;
    user-select: none;
}
.line{
    --line-width : 8px;
    position: absolute;
    /* width: 100%; Adjust line length */
    height: var(--line-width); /* Line thickness */
    background-color: hsl(0, 0%, 38%);
    /* margin-left: 8vw; Space between line and object */
    top: calc((100% - var(--line-width))/2);
    left:-4.2vw;
    right: 100%;
}
.specifics{
    display: grid;
    grid-template-columns: 1fr 46%;
    padding: 0 4% 0 8%;
}
.deets{
    text-align: right;
}
.title{
    
    align-self: center;
    font-size: 2em;
}
.description{
    border-left: 2px solid hsl(0, 0%, 38%) ;
    padding: 0 4% 0 4%;
    font-size: 1.2em;
}

@media screen and (max-width: 550px) {
    .line{
        left:-4.8vw;
        /* background-color: hsl(0, 84%, 42%); */
    }
    .specifics{
    grid-template-columns: auto;
    /* grid-template-columns: 1fr 46%;
    padding: 0 4% 0 8%; */
    }
    .deets{
    text-align: left;
    }
}

