.experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid hsl(0, 0%, 38%);
    border-radius: 6px;
    margin: 4%;
    position:relative;
    user-select: none;
}
.line{
    position: absolute;
    width: 11%; /* Adjust line length */
    height: 8px; /* Line thickness */
    background-color: hsl(0, 0%, 38%);
    margin-left: -11%; /* Space between line and object */
    top: calc(50% - 8px);
}
.specifics{
    display: grid;
    grid-template-columns: 1fr 46%;
    padding: 0 4% 0 8%;
}
.deets{
    text-align: right;
}
.title{
    
    align-self: center;
    font-size: 1.6em;
}
.description{
    border-left: 2px solid hsl(0, 0%, 38%) ;
    padding: 0 4% 0 4%;
}

@media screen and (min-width: 550px) {
    .line{
        
        width: 10%; /* Adjust line length */
        margin-left: -10%; /* Space between line and object */
    }
}