header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 6% 0 4%;
    background: rgb(255, 255, 255);
    position: sticky;
    top:0;
    z-index: 1000;

}
.name{
    font-size:1.6em;
    padding: 0;
    margin: 1% 2%;
}
.links{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 1.2em;
    
    /* justify-content: space-between; */
}
li{
    margin-right: 5%;
}
a{
    text-decoration: none;
    color: inherit;
    
}
a:hover{
    color:#cc5500;
}