
.image-container{
    position: relative;
    display: inline-block;
    user-select: none;
    
}

.hero-image{
    width:110%;
    margin-left: -5%;
    margin-top:-15%;
    
}
.image-container::after{
    content: "";
    position: absolute;
    bottom: -59%;
    left: 0;
    width:110%;
    margin-left: -5%;
    z-index: -1;
    height: 60%;
    background: linear-gradient( hsl(0, 0%, 0%), hsl(0, 0%, 100%));
}
.text{
    position: absolute;
    font-size:  clamp(.8rem, 6vw, 5rem);
    top:20%;
    /* margin-top: -30%; */
    left: 2%;
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 50%;
       
}

@media screen and (max-width: 866px){
    .hero-image{
        margin-top:-20%;
    }
    .image-container::after{
        bottom: -58%;
        /* background: linear-gradient(to bottom, hsl(0, 87%, 46%), hsl(249, 73%, 42%)); */

    }
}

@media screen and (max-width: 500px){
    .text{
        font-size:  clamp(.8rem, 5.5vw, 6rem);;
    }
    .image-container::after{
        bottom: -55%;
        /* background: linear-gradient(to bottom, hsl(123, 83%, 45%), hsl(302, 46%, 56%)); */

    }
}